/*  your css code here. If applicable */
h1,h2,h2{
	text-align:center;
}
body{
	background-color: rgb(204, 204, 204);
	text-decoration-line:none;
}
#box2{
	background-color:white;
	margin-left:25px;
	margin-right:25px;
	
	border:2px solid black;
	border-radius:10px;
	/* list-style-type:none; */
	
}
#box3{
	margin-left:65px;
	margin-right:60px;
	border:2px solid black;
	background-color: rgb(255, 255, 255); 
	padding:20px; 
	border-radius:10px;
}
.player_one{
	background-color: rgb(255, 255, 255);
		padding:0px; 
	border-radius:0px;
}
.player_two{
	background-color: rgb(255, 255, 255);
		padding:0px; 
	border-radius:0px;
}